{#
/**
 * @file
 * Default theme implementation for a view template to display swiffy slider.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: The results of the view query, if any.
 * - title: The title of this group of rows. May be empty.
 *
 * @see template_preprocess_views_view()
 * @see template_preprocess_views_style_swiffy_slider()
 *
 * @ingroup themeable
 */
#}

{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div{{ swiffy_slider_attributes }}>
  <ul{{ attributes.addClass('slider-container') }}>
    {% for row in rows %}
      <li>{{ row }}</li>
    {% endfor %}
  </ul>
  <button type="button" class="slider-nav" aria-label="{{ 'Go to previous'|t }}"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="{{ 'Go to next'|t }}"></button>
  <div class="slider-indicators">
    {% for row in rows %}
      <button {% if loop.index0 == 0 %}class="active" {% endif %} aria-label="{{ 'Go to slide'|t }}"></button>
    {% endfor %}
  </div>
</div>
